# MLFlow Configuration
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_BACKEND_STORE_URI=./mlruns
MLFLOW_ARTIFACT_ROOT=./mlartifacts

# Experiment Configuration
EXPERIMENT_NAME=TimeSeries-Development
RUN_NAME_PREFIX=training
ENVIRONMENT=development

# AWS Configuration (para después)
# AWS_ACCESS_KEY_ID=your_access_key
# AWS_SECRET_ACCESS_KEY=your_secret_key
# AWS_REGION=us-east-1